<div class="container py-4">
    <h3 class="text-center">
      Questions
    </h3>

    <div class="row">
        <div class="card my-4 px-0 col-md-6">
            <h5 class="card-header">Imports</h5>
            <div class="card-body">
              <p class="card-text">When we try to build Angular app we need several modules which are the part of different libraries, so we use 
                <b>import</b> keyword to include those module in our file.
              </p>
            </div>
          </div>
      
      
          <div class="card my-4 col-md-6 px-0">
            <h5 class="card-header">Declarations</h5>
            <div class="card-body">
              <p class="card-text">
                When we start building angular application we divide the whole application in Components and we make different Components to work with them separately.
                <b>Declarations array tells that which Component belongs to which module.</b>
              </p>
            </div>
          </div>
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Providers</h5>
              <div class="card-body">
                <p class="card-text">
                  Providers are to defines services of different modules which need to work with dependency of that module.
                </p>
              </div>
          </div>
      
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Component</h5>
              <div class="card-body">
                <p class="card-text">
                  Component is a small part of a whole application like navbar, gallery etc.
                  <b> It a combination of HTML and a typescript class that provide metadata that decides how the component should processed.</b>
                </p>
              </div>
          </div>
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Directives</h5>
              <div class="card-body">
                <p class="card-text">
                  
                  <b>Diectives are used to modify DOM, example like:- ngFor, ngIf Etc.</b>
                </p>
              </div>
          </div>
      
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Models</h5>
              <div class="card-body">
                <p class="card-text">
                  
                  <b>Models is the MVC based application structure based term which is used to modeling the data used in the view.</b>
                </p>
              </div>
          </div>
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Modules</h5>
              <div class="card-body">
                <p class="card-text">
                  
                  <b>Modules is a term that contains similar Components, directives, and services to make an application.</b>
                  An angular application at-least have one module to work with.
                </p>
              </div>
          </div>
      
          <div class="card my-4 col-md-6 px-0">
              <h5 class="card-header">Services</h5>
              <div class="card-body">
                <p class="card-text">
                  
                  <b>Services are made for logic behind the view</b>
                  
                </p>
              </div>
          </div>
    </div>
    

    
  </div>

